@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family:'Poppins';
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
   --text: #ffd200;
   --background: #ffffff;
    --dark:#0f1f30;
    --scale:1.03;
}

body{

    background-color: var(--background);
}
.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.header h1{
    color: var(--text);
}

.menu{
    display: flex;
    flex-wrap: wrap;
    gap:40px;
}

.menu a{
    color: var(--text);
    font-weight:bold;
}

.menu a:hover{
    color:var(--dark);
    transition:.2s ease-out;
    font-weight: normal;
}

.hero_session{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:15vh;
    color: var(--dark);
    
}

.image img{
    width: 500px;
}

.title{
    margin-left:25px;
}
.social {
    display: flex;
    flex-direction: column;
    margin-top:1px;
    /* bottom:200px; */
    /* margin: 20px; */
}
.social a img{
    width: 30px;
}

.butt{
    gap:20px;
}
.butt button{
    /* position:relative;
    top:100px;
    left:50px; */
    padding: 10px 25px;
    background-color: var(--dark);
    color: var(--text);
    margin-top: 27px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 1rem;
}

.butt button:hover{
    scale: var(--scale);
    background-color: var(--text);
    color: var(--dark);
}

.about{
    display: flex;
    justify-content: space-between;
    gap:20px;
    margin: 75px;
    align-items: center;
}

.contact{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact button{
    padding: 10px 25px;
    background-color: var(--dark);
    color: var(--text);
    margin-top: 27px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 1rem;   
}

.contact button:hover{
    scale: var(--scale);
    background-color: var(--text);
    color: var(--dark);
}

